* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  margin: 60px;
  background-color: #c0cbe7;
  height: 100vh;
  border: solid 3px #000;
  border-radius: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 10vh;
  font-style: italic;
  color: rgba(15, 2, 42, 0.667);
}

.balance h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.income-expense {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.income-expense div {
  text-align: center;
  border: 1px solid #480505;
  padding: 10px;
  width: 130px;
  border-radius: 5px;
  background-color: #fff;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
}

.add-transaction input,
.add-transaction select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-transaction button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.transaction-list {
  list-style: none;
  width: 300px;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.transaction-list li.income {
  color: green;
}

.transaction-list li.expense {
  color: red;
}

.transaction-list li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
